.canvas-area {
    flex: 1;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative
}

.remap-cell {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.remap-cell.selected {
    outline: 2px solid #ff9800;
}

#canvasWrapper {
    position: relative;
}

#canvas {
    border: 3px solid #667eea;
    background: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: inline-grid;
    cursor: crosshair;
    user-select: none;
}

#previewLayer {
    position: absolute;
    top: 3px;
    left: 3px;
    pointer-events: none;
    z-index: 40
}

#selectionLayer {
    position: absolute;
    top: 3px;
    left: 3px;
    pointer-events: none;
    z-index: 50
}

.pixel {
    border: 1px solid rgba(0, 0, 0, 0.05);
    transition: opacity .08s
}

.no-grid .pixel {
    border: none !important;
}

/*深色模式*/
body.dark-theme .canvas-area {
    flex: 1;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

body.dark-theme .remap-cell {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: #2f3136;
}

body.dark-theme .remap-cell.selected {
    outline: 2px solid #ff9800;
}

body.dark-theme #canvasWrapper {
    position: relative;
}

body.dark-theme #canvas {
    border: 3px solid #000000;
    background: #2f3136;
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    display: inline-grid;
    cursor: crosshair;
    user-select: none;
}

body.dark-theme #previewLayer {
    position: absolute;
    top: 3px;
    left: 3px;
    pointer-events: none;
    z-index: 40;
}

body.dark-theme #selectionLayer {
    position: absolute;
    top: 3px;
    left: 3px;
    pointer-events: none;
    z-index: 50;
}

body.dark-theme .pixel {
    border: 1px solid rgba(0, 0, 0, 0.05);
    transition: opacity .08s;
}